body{
    background-color: #ff5e62;
    background: linear-gradient(to right, #ff5e62 , #ff9966);
    color: #fff;
    margin: 0;
}

#contenedor {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    height: 100vh;
}

/*Configuro header*/

header {
    background-color: blue;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    /*Espacio entre secciones*/
    margin: 0 0 1rem 0;

    /*vista tablet-movil*/
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }  

}

#logo {
    padding: 6px;
    font-size: 20px;
}

nav ul {
    padding: 0;    
    /*estilo del meno*/
    font-size: 12px;
    /*conf flex de padre*/
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /*vista tablet-movil*/
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}

nav ul li{
    padding: 10px;
    list-style: none;
}


/*Configuro main*/

main {
    display: flex;
    flex-direction: row-reverse;
    /*Espacio entre secciones*/
    margin: 1rem 0;

    /*vista tablet-movil*/
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

#servicios {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-basis: calc(60%);
    align-items: flex-start;
    margin-right: 1rem;

    /*vista tablet-movil*/
    @media (max-width: 768px) {
        margin-right: 0;
        margin-top: 1rem;
    }
}

.servis {
    flex-grow: 1;
}

aside {
    flex-grow: 1;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

/*Colores de los servicios*/

.servicios1 {
    background-color: brown;
}

.servicios2 {
    background-color: violet;
}

.servicios3 {
    background-color: rgb(13, 13, 139);
}

/*Modifico el aside*/

#tituloAside {
    text-align: center;
}

/*Configuro footer*/

footer {
    background-color: violet;
    /*Espacio entre secciones*/
    margin: 1rem 0;
}

footer p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}