*{
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right ,#F65, #FFC);
}

#contenedor {
    background-color: white;
    min-height: 100vh;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    margin: 1rem 0;
}

/*ul*/

.listMenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex-direction: row;
    }
}

/*Clase con iconos*/
.conIconos {
    flex-direction: row;
    flex-wrap: wrap;
}

/*li*/

.liNAV {
   list-style-type: none;
   display: flex;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 auto;
    }
}

.liICON {
    list-style-type: none;
    flex: 0 0 50%;
    /*Escritorio*/
    @media (min-width: 768px) {
        flex: 1 0 25%;
    }
}

/*a*/

.btmNAV {
    background-color: #55F;
    padding: 10px 0;
    flex-grow: 1;
    text-align: center;
    color: #EEE;
}

.btmIcon {
    /*flex para el icono y los p*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*Escritorio*/
    @media (min-width: 768px) {
    }
}

.btmNAV:hover {
    background-color: #22F;
    cursor: pointer;
}

/*icono*/

.icono {
    font-size: 2rem;
    margin-right: 5px;
}

/*p de nav*/
.tituloMenu {
    font-size: 22px;
}

.descripcionMenu {
    font-size: 13px;
}

/*Flex a los p y al incono*/

.flexP {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*DROPDOWN*/

/*li de sublista*/
.liSublista {
    display: flex;
}

/*li de nav DROPDOWN*/
.liSubPadre {

}

.liDropDown {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (min-width: 768px) {
        flex: 0 0 25%;
    }
}

/*ul de SUBLISTA*/

.ulPadreSublista {
    background-color: #55F;
    display: block;
    @media (min-width: 768px) {
        display: none;
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
    }
}

.liDropDown:hover .ulPadreSublista {
    background-color: #22F;
    @media (min-width: 768px) {
        display: block;
        z-index: 10;
        background-color: #F65;
    }
}

/*etiqueta a del nav lista dropdown*/

.btmDropDown {
    text-align: start;
    padding: 10px;
    background-color: #55F;
    @media (min-width: 768px) {
        background-color: #55F;
    }
    
}

.liDropDown:hover .btmDropDown{
    background-color: #22F;
    @media (min-width: 768px) {
        background-color: #22F;
    }
}

/*etiqueta a de la sublista*/

.btmSublista {
    margin: 10px;
    text-align: start;
    padding: 10px;
    background-color: #55F;
}

.liDropDown:hover .btmSublista {
    background-color: #22F;
    @media (min-width: 768px) {
        background-color: #F65;
    }
    
}

.liSublista:hover .btmSublista {
    background-color: #F65;
    @media (min-width: 768px) {
        background-color: #22F;
    }
}


/*REDES SOCIALES*/

.ulRedes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #55F;
    flex: 0 0 50%;
}

.liRedes {
}

.btmRedes {
    border: solid 1px red;
    flex: 0 0 auto;
    padding: 0;
}

.iconRedes {
    font-size: 1rem;
    padding: 10px;
    background-color: #55F;
}

.liRedes:hover .iconRedes{
    padding: 10px;
    background-color: #22F;
}


/*Drop Down and Icon*/

.DropDownANDIcon {
    display: flex;
    flex-direction: row;
}

.ulDropDown {
    flex: 0 0 50%;
}

