
@mixin dispositivo($tamaño) {

    @media only screen and (min-width: $tamaño) {
        @content
    }
}

@mixin boton($colorFondo:$color-boton, $colorFondoHover:$color-boton-hover, $colorLetra:#DDD, $pad: 5px) {
    background-color: $colorFondo;
    color: $colorLetra;
    padding: $pad;
    &:hover {
        background-color: $colorFondoHover;
    }
}