
// mdea queri
$witdh-movil: 280px;
$witdh-tablet: 480px;
$witdh-escritorio: 768px;

// targetas cursos
$anchoTargetaEscritorio: calc(100%/4 - 3rem/4);
$anchoTargetaTablet: calc(100%/3 - 2rem/3);  
$anchoTargetaMovil: calc(100%/2 - 1rem/2);
$anchoTargetaPequena: calc(100%);

// BOTON
$color-boton: rgb(80, 138, 224);
$color-boton-hover: rgb(34, 61, 101);

// BOTON-CARRITO
$color-boton-especial: rgb(135, 21, 206);
$color-boton-hover-especial: rgb(104, 14, 92);

