@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .carrito {
        position: relative;

        .oculto {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: #EEE;
            width: 400px;
            padding: 1rem;

            .infoProducto {
                display: flex;
                flex-direction: row;

                .ocultoInfo {
                    flex: 0 0 calc(100%/3);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 10px;
                    
                    h5 {
                        font-weight: bold;
                    }

                    img {
                        max-width: 100%;    
                    }
                }
            }

            button {
                @include boton($color-boton-especial, $color-boton-hover-especial);
            }
        }
    }
}

.carrito:hover .oculto{
    display: flex;
    flex-direction: column;
    
}

.fondo-contenedor-buscador {

    background-image: url('../../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;

    .cont-column {

        flex-grow: 1;
   
        h1 {
            color: #EEE;
            margin-bottom: 1rem;
            padding: 0 1rem;
        }

        p {
            color: #EEE;
            margin-bottom: 8px;
            padding: 0 1rem;
        }

        form {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0 1rem;

            @include dispositivo($witdh-tablet) {
                width: 25%;
            }

            input {
                flex: 0 0 calc(100% - 80px);
                padding: 10px;
                background-color: #EEE;
            }

            button {
                flex: 0 0 auto;
                padding: 5px 10px;
                background-color: #EEE;
            }
        }
    }
}

.fondo-contenedor-info {

    background: linear-gradient(to right, #49245a, #c0364f);
    
    .info-padre {

        @include dispositivo($witdh-tablet) {
            display: flex;
            flex-direction: row;
        }

        .info {

            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            img {
                width: 30px;
                margin: 10px;
            }

            .flexP {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                color: #EEE;
            
            }

        }
    }
}

h2 {
    text-align: center;
    margin: 1rem 0;
}

.cursosPadre {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    .curso {

        flex: 1 0 $anchoTargetaPequena;
        border: 1px solid #CCC;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        
        @include dispositivo($witdh-movil) {
            flex: 0 0 $anchoTargetaMovil;
        }

        @include dispositivo($witdh-tablet) {
            flex: 0 0 $anchoTargetaTablet;
        }

        @include dispositivo($witdh-escritorio) {
            flex: 0 0 $anchoTargetaEscritorio;
        }

        .fotoCurso {
            width: 100%;
        }

        .curso-detalle {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: space-between;

            i {
                color: rgb(219, 230, 69);
            }

            .precios {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .descuento {
                text-decoration: line-through;
                font-weight: bold;
                color: #121212;
            }

                        
            button {

                @include boton();

            }

        }
        
    }
}

footer {

    background-color: hsl(0, 0%, 7%);

    div {
        display: flex;
        flex-direction: column;
        color: #EEE;

        @include dispositivo($witdh-tablet) {
            flex-direction: row;
            justify-content: start;
        }

        .listFooter {
            padding: 10px;
            align-self: center;

            @include dispositivo($witdh-tablet) {
                flex: 1 0 auto;
                align-self: flex-start;
            }

            .tituloLista {
                font-size: 20px;
                text-decoration: underline;
                margin-bottom: 10px;
            }

            li {
                list-style: none;
                text-align: left;
            }
        }
    }

}
